@include mobile {
  .buttons {
    $width: 11.95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 18px;

    &-back,
    &-color__item {
      width: $width;
      height: $width;
      box-sizing: border-box;


      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      border: 6px solid rgba(255, 255, 255, 0.65);
    }

    &-back {
      margin: 0 14px 0 0;

      background-image: url("../images/btn-back.png");
      background-color: rgba(0, 0, 0, 0.3);
    }

    &-ready,
    &-skip {
      height: 8.62vw;
      display: flex;
      width: 28.9vw;
      margin-right: auto;

      border-radius: 81.5px;
      background: radial-gradient(262.71% 100% at 50% 0%, #00D51A 0%, #01AD2C 71.67%, #009739 100%);
      outline: 6px solid rgba(255, 255, 255, 0.65);

      >span {
        @include barnacleBoys16;

        display: block;
        margin: auto;

        letter-spacing: 1.9px;
        color: $white;
        text-transform: uppercase;
      }

      &[disabled] {
        background: linear-gradient(181deg, #D8E5F3 -9.45%, #BBCFE4 98.77%);
      }
    }

    &-skip {
      margin: 0;
      padding: 0 10px;
      width: auto;
      background: radial-gradient(416.87% 100% at 50% 0%, #7DB8F0 0%, #88BAE8 52.54%, #2E7CC7 100%);
    }

    &-color {
      display: flex;
      gap: 0 8px;

      &__item {
        &.is-active {
          box-shadow: 0 0 19px 0 $light-yellow;
        }
      }
    }

    @for $i from 1 through 3 {
      .btn-color-#{$i} {
        background-image: url("../images/btn-color-#{$i}.png");
      }
    }
  }

  .submit {
    margin: 20px 0 auto;

    text-align: center;

    >button {
      @include barnacleBoys24;

      padding: 8px 16px;

      color: $white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.9px;

      border-radius: 50px;
      border: 5px solid #FFF;
      background: linear-gradient(181deg, #FFAC30 -9.45%, #FD2C36 98.77%);
      box-shadow: 0 -10px 2px 0 rgba(217, 26, 35, 0.58) inset, 0 10px 4px 0 rgba(255, 205, 27, 0.25) inset;
    }
  }

  .btn-message {
    position: absolute;
    bottom: 20px;
    left: 20px;

    width: 56px;
    height: 56px;

    background: url("../images/btn-go-message.png") center no-repeat;
    background-size: cover;
  }

  .pseudo-buttons {
    position: absolute;
    top: calc(100% + 20px);
    left: calc((100% - 145px) /2);
  }
}

