@include mobile {
  .editor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-wrapper {
      position: relative;

      margin-bottom: auto;
    }

    .input-area {
      width: 100%;
      resize: none;
      padding: 30px 20px 60px;
      box-sizing: border-box;

      border: 0;

      text-align: center;
    }
  }
}
