@font-face {
  font-family: "barnacleBoys";
  src : url("../fonts/barnacleBoys.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "caveatBold";
  src : url("../fonts/caveatBold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "caveatMedium";
  src : url("../fonts/caveatMedium.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "caveatRegular";
  src : url("../fonts/caveatRegular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "caveatSemiBold";
  src : url("../fonts/caveatSemiBold.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "chalkboardse";
  src : url("../fonts/chalkboardse.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "chalkboard";
  src : url("../fonts/chalkboardse.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "marckScript";
  src : url("../fonts/marckScripRegular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pacifico";
  src : url("../fonts/pacificoRegular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}