@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin font($font-family, $font-size, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin barnacleBoys32 {
  @include font(barnacleBoys, 32px, normal)
}

@mixin caveatBold24 {
  @include font(caveatBold, 24px, 100%)
}

@mixin pacifico18 {
  @include font(pacifico, 18px, normal);
}

@mixin marckScript20 {
  @include font(marckScript, 20px, normal);
}

@mixin barnacleBoys24 {
  @include font(barnacleBoys, 24px, normal)
}

@mixin barnacleBoys16 {
  @include font(barnacleBoys, 16px, normal)
}

@mixin barnacleBoys13 {
  @include font(barnacleBoys, 13px, normal)
}


@mixin chalkboard16 {
  @include font(chalkboard, 16px, normal)
}
