$transition-in: all ease-in 300ms;
$transition-out: all ease-out 300ms;

$mobile: 768px;

$blue: #012757;
$blue2: #00377C;
$white: #fff;
$red: #F00;
$red2: #FF2929;
$green: #1F5A11;
$light-yellow: #FFF0BB;