@import "helpers/_all";

@import "fonts/fonts";
@import "services/_all";
@import "components/flight";

@include mobile {
  .main {
    position: relative;

    padding: 22px 16px 0;
    box-sizing: border-box;
    display: flex;

    background: url("../images/backgr-final.png") left bottom no-repeat;
    background-size: cover;
  }
}