@import "helpers/_all";

@import "fonts/fonts";
@import "services/_all";

@import "components/choice";
@import "components/editor";
@import "components/buttons";
@import "components/fontStyles";
@import "components/footer";

@include mobile {
  .main {
    padding: 22px 16px 0;

    background: url("../images/backgr.png") left bottom no-repeat;
    background-size: cover;
  }

  @for $i from 1 through 6 {
    .template-#{$i} {
      background: url("../images/blank#{$i}.png") center no-repeat;
      background-size: contain;
    }
  }

  .remain {
    @include barnacleBoys13;

    position: absolute;
    bottom: 30px;
    right: 95px;

    color: $blue;
  }
}
