@import "helpers/_all";

@import "fonts/fonts";
@import "services/_all";

@import "components/choice";
@import "components/templates";
@import "components/colors";
@import "components/editor";
@import "components/buttons";
@import "components/fontStyles";
@import "components/footer";
@import "components/loader";

body {
  overflow: hidden;
}



@include mobile {
  .main {
    position: relative;

    padding: 22px 16px 0;
    box-sizing: border-box;

    background: url("../images/backgr.png") left bottom no-repeat;
    background-size: cover;

    &.is-ready {
      background: url("../images/backgr2.png") left bottom no-repeat;
      background-size: cover;

      .footer {
        &__text {
          >img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }

  .remain {
    @include barnacleBoys13;

    position: absolute;
    bottom: 30px;
    right: 28vw;

    color: $blue;
  }
}
