@import "helpers/_all";
@import "services/_all";

@import "fonts/fonts";
@import "components/fontStyles";
@import "components/colors";
@import "components/templates";

body {
  overflow: hidden;

  background: url("../images/backgr_base.png") center bottom no-repeat;
  background-size: cover;
  height: 100%;
}

.wall {
  padding: 28px 26px;
  box-sizing: border-box;

  &-wrapper {
    position: relative;
    >div {
      display: flex;
      align-items: center;
    }
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;*/
    //gap: 32px 0;
  }

  &__item {
    box-sizing: border-box;
    width: 400px;
    height: 410px;
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;

    text-align: center;

    transition: $transition-out;

    >pre {
      margin: auto;
    }

    &.hover {
      width: 390px;
      height: 403px;

      transition: $transition-in;
    }

    &.subHover {
      width: 336px;
      height: 347px;

      transition: $transition-in;
    }

    &.middle-line {
      width: 370px;
      height: 380px;

      transition: $transition-in;

      &.hover {
        width: 485px;
        height: 500px;
      }

      &.subHover {
        width: 416px;
        height: 430px;
      }
    }
  }
}

@include mobile {
  body {
    background: url("../images/backgr_base_mobile.png") left top no-repeat;
    background-size: cover;
  }

  .wall {
    padding: 14px 12px;

    &__item {
      width: 160px;
      height: 165px;

      >pre {
        width: 100%;
        font-size: 63%;
      }

      &.hover {
        width: 208px;
        height: 215px;

        >pre {
          font-size: 80%;
        }
      }

      &.subHover {
        width: 180px;
        height: 185px;

        >pre {
          font-size: 70%;
        }
      }

      &.middle-line {
        width: 195px;
        height: 200px;

        &.hover {
          width: 255px;
          height: 260px;
        }

        &.subHover {
          width: 220px;
          height: 225px;
        }
      }
    }
  }
}
