@import "helpers/_all";
@import "services/_all";

@import "fonts/fonts";
@import "components/fontStyles";
@import "components/colors";
@import "components/templates";
@import "components/buttons";
@import "components/loader";

body {
  position: relative;

  overflow: hidden;

  background: url("../images/backgr_base.png") center bottom no-repeat;
  background-size: cover;
  height: 100%;
}

.wall {
  padding: 28px 26px;
  box-sizing: border-box;

  &-wrapper {
    position: relative;
    left: 0;
    top: 0;

    padding: 0;

    transition: all ease-in-out 300ms;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }
  }

  .wall-bottom,
  .wall-top {
    >div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wall-top {
    display: flex;
    flex-direction: column-reverse;
  }

  .wall-center {
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    box-sizing: border-box;
    width: 400px;
    height: 410px;
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;

    text-align: center;

    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;

    >pre {
      margin: auto;
      padding: 20px;
      box-sizing: border-box;
      display: block;

      white-space: pre-wrap;
    }
  }
}

@include mobile {
  body {
    background: url("../images/backgr_base_mobile.png") left top no-repeat;
    background-size: cover;
  }

  .wall {
    padding: 14px 12px;

    &-wrapper {
      touch-action: none;
    }

    &__item {
      width: 222px;
      height: 232px;

      >pre {
        width: 100%;
        padding: 12px;
      }
    }
  }

  .buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100px;
    padding: 22px 0 0 16px;
    display: block;

    &-back {
      position: relative;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      display: block;

      background: linear-gradient(180deg, #002454 0%, rgba(0, 36, 84, 0.00) 100%);
      opacity: 0.6;

      content: "";
    }
  }
}
